@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    /* White */
    --foreground: 23 23 23;
    /* Zinc 900 */
    --primary: 20 184 166;
    /* Teal 500 */
  }

  .dark {
    --background: 10 10 10;
    /* Zinc 950 */
    --foreground: 250 250 250;
    /* Zinc 50 */
    --primary: 20 184 166;
    /* Teal 500 */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  transition: color 0.3s, background-color 0.3s;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--primary));
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d9488;
}

@layer utilities {
  .text-shimmer {
    background: linear-gradient(90deg,
        #2dd4bf 0%,
        #a855f7 50%,
        #d946ef 100%);
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shimmer 4s linear infinite;
  }
}

@keyframes shimmer {
  to {
    background-position: 200% center;
  }
}